* {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

/* --------헤더 */
#header {
  padding: 5px;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: rgb(28, 165, 83);
  color: white;
  box-shadow: 1px 1px 5px black;
}

/* 홈로고 */
#header h1 {
  text-shadow: 2px 2px 5px black;
}

/* 메뉴 */
#header > nav {
  width: 100%;
  height: 100%;
}
#header > nav > ul {
  width: 100%;
  display: flex;
  align-items: center;
}

#header > nav > ul > li {
  line-height: 3;
  position: relative;
  margin: 5px;
}

#header > nav > ul > li::before {
  content: "";
  transition: 1s;
  position: absolute;
  bottom: 5px;
  width: 0%;
  border-bottom: 4px solid rgb(115, 229, 49);

}

#header > nav > ul > li.menu_on::before {
  width: 100%;
}

/* 메인 */

#main {
  position: relative;
  max-width: 1400px;
  margin: 3rem auto 3rem auto;
}

/* title */
.title {
  margin: 10px;
}

/* 홈 화면 */
.home_page {
  opacity: 0;
  transition: 1s;
  visibility: hidden;
  width: 100%;
  position: absolute;
  border: 1px solid black;
}

.home_background {
  width: 100%;
  transition: 1s;
  box-shadow: inset 0 0 5px 3px black;
  height: 80vh;
  background-color: greenyellow;
  background-image: url('../public/images/forest.jpg');
  background-position: center;
  background-size: cover;
  animation: sizeUp 1s 1; 
}

@keyframes sizeUp {
  from {
    background-position: 50% 40%;
  }
}

.home_background:hover{
  box-shadow: inset 0 0 5px 600px rgba(0, 0, 0, 0.263);
}

/* =============게시판 */
.list_page {
  max-width: 800px;
  transform: translate(-50%);
  left: 50%;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  width: 100%;
  transition: 1s;
  border: 1px solid black;
  visibility: hidden;
  position: absolute;
}

/* 게시판 검색창 */

.search_area {
  margin: 8px 0;
}
#search_input {
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

#search_btn {
  padding: 10px;
  border: none;
  background-color: black;
  color: white;
}

/* 게시판 리스트  */
#list_table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

#list_table th {
  color: white;
  padding: 5px;
  background-color: rgb(0, 0, 0);
}

/* --------------글작성-------------- */

.writing_page {
  text-align: center;
  width: 100%;
  transition: 1s;
  visibility: hidden;
  position: absolute;
  padding: 8px;
}



.writing_page label {
  display: inline-block;
  width: 60px;
}

.writing_page input {
  border: none;
  border-bottom: 2px solid black;
  padding: 10px;
  width: 600px;
}

#writing_content_label {
  position: relative;
  top: -13.5rem;
}

#writing_content {
  margin: 5px 0;
  resize: none;
  min-width: 200px;
  min-height: 400px;
  width: 630px;
  max-width: 614px;
}

.writing_btn_con {
  margin-top: 1rem;
}

.writing_btn_con > button {
  border: none;
  background-color: black;
  color: white;
  padding: 5px;
}

.writing_btn_con > button:hover {
  background-color: green;
}

/* 글 수정 */

.update_page {
  transition: 1s;
  visibility: hidden;
  border: 1px solid black;
  padding: 10px;
  position: absolute;
}

.update_page > input {
  border: none;
  border-bottom: 2px solid black;
  padding: 10px;
  width: 600px;
}
.update_btn_area {
  margin-top: 1.5rem;
}

#update_content {
  margin: 5px 0;
  resize: none;
  min-width: 200px;
  min-height: 400px;
  width: 630px;
  max-width: 614px;
}

.update_btn_area > button {
  border: none;
  background-color: black;
  color: white;
  padding: 5px;
}

/* 상세내용 페이지 */
.detail_page {
  transition: 1s;
  left: 50%;
  transform: translate(-50%);
  visibility: hidden;
  position: absolute;
  padding: 10px;
  border: 1px solid black;
}

.detail_page :is(p, figure) {
  margin: 5px;
}

.detail_page > div> p > span {
  display: inline-block;
  width: 130px;
  font-weight: 700;
  padding: 0 8px 0 0;
}

.detail_button_area {
  margin-top: 1.6rem;
  text-align: center;
}
.detail_button_area > button {
  border: none;
  background-color: black;
  color: white;
  padding: 5px;
}

.detail_button_area > button:hover {
  background-color: green;
}

.submit_image {
  width: 600px;
  height: 300px;
  background-color: antiquewhite;
}


tr{
  border-bottom: 1px solid black;
}

tr td{
  padding: 5px;
}